h1 {
  margin: 0;
}

.App {
  color: white;
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: black;
  position: relative;
}

.header {
  display: flex;
  justify-content: center;
  height: 3em;
}

button {
  color: black;
  height: 2.5em;
  width: 7em;
  border: none;
  background-color: white;
  border-radius: 10px;
  cursor: pointer;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.75em;
  padding: 10px;
  height: 3em;
}

.video {
  box-sizing: border-box;
  border: 2px solid white;
  height: calc(100vh - 6em);
  max-width: 100vw;
  position: relative;
}

.flip {
  position: absolute;
  top: 6em;
  left: calc(50vw - 3.5em);
}

.snap {
  position: absolute;
  bottom: 8em;
  left: calc(50vw - 3.5em);
}

.image {
  /* max-height: calc(100vh - 6em);
  height: 100vh; */
  max-width: 100vw;
  /* height: calc(100vh - 6em); */
}

.imageWrapper {
  height: calc(100vh - 6em);
  max-width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid white;
}